@import "blueprint/reset";
@import "partials/base";
@import "blueprint";
@import "blueprint/scaffolding";
@import "compass/css3";
@import "fancy-buttons";

@include font-face("Blooming Grove", font-files("bgrove.ttf", truetype, "bgrovbe.otf", opentype));
@include blueprint-typography;
@include blueprint-scaffolding;

$fb-allow-disabled: true;

.container { @include container; }
button { @include fancy-button(#575757, 12px); }

body { background: #E0E0E0 url('../images/bg.png')}

header { 
  @include border-bottom-radius(9px);
  padding: 30px 0 20px;
  margin-bottom: 30px;
  text-align: center;
}

h1 {
  font-family: "Blooming Grove";
  color: #C9332A;
  font-size: 45pt;
  @include text-shadow(1px 2px 1px gray);
}

h2, h3, h4 {
  font-family: "Blooming Grove";
  color: #C9332A;
}

footer { margin: 70px 0 30px; text-align: center; color: gray; }

#main {
  @include container;
  padding-bottom:15px;
}

#help {
  margin-top: 70px;
}

#quiz {
  @include column(18);
  #deck {
    #index { 
      text-align: right;
      color: gray; 
      font-weight: normal; 
      font-size: 11pt;
      margin-bottom: 40px;
    }
    #prononciation {
      font-size: 30px;
      &.favorite { color: #E5C227 }
      &.wrong { color: #E22B28 }
      &.right { color: #24AA22 }
    }
    #hint {
      display: none;
    }
    #answer {
      display: none;
      font-size: 60px;
    }
    background: white;
    width: 95%;
    margin: auto;
    text-align: center;
    @include box-shadow( 2px 3px 4px gray);
    @include border-radius(4px);
    border: 1px solid #E3E3E3;
    padding: 5px 5px 60px;
    //height: 143px;
  }
  #deck-options {
    margin: 20px auto 0;
    text-align: center;
  }
  #icons {
    height: 40px;
    img { margin-right: 5px; }
    img:hover { cursor: pointer }
  }
}

#options {
  @include column(6);
  @include last;
  text-align: right;
  ul { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    li { margin-top: 5px; }
  }
  #levels { height: 115px; }
}
